.btnCSS{
    float: right;
    margin-right : 20px
}

.icon{
    color: purple;
}

.headerCSS{
    color : purple;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    
}

.addDatabtnCSS{
    padding: 6px 6px;
}